/*Global*/
:root {
  /*Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-light-blue: #9ec4dd;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/
  --size-border-radius: 4px;

  /*Annimation*/
  --animation-duration: 300ms;
}

/*Universal tags*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "source-han-sans-korean", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/*Typography*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/*navbar*/
#navbar {
  position: fixed;
  width: 100%;
  /*height: 11%; 이용해서 폭 조절*/
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 16px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--color-light-white);
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
}

/*Home*/
#home {
  background: url("imgs/home.jpg") center/cover no-repeat;
  padding: 40px;
  padding-top: 110px;
  text-align: center;
}
.home__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__tittle,
.home_description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-orange);
}

/*Section Common*/
.section {
  padding: 50px;
  text-align: center;

  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/*About*/
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon:hover i {
  color: var(--color-blue);
  transform: rotate(-30deg) scale(1.2);
}
.major__icon i {
  transition: all var(--animation-duration) ease;
}
.major__title,
.major__description {
  color: var(--color-dark-grey);
}
.major__description {
  font-size: var(--font-small);
}
.about__jobs {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 20px 0;
}
.job {
  display: flex;
  align-items: center;
  margin: 10px;
}
.job__logo {
  width: 250px;
  height: auto;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/*skill*/

#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 60px 0;
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill {
  margin: 60px 0;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}
.skillset__title {
  color: var(--color-white);
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.tools__img {
  width: 100%;
  height: 100%;
}
.tools,
.etc {
  padding: 20px;
}
/*Work*/
#work {
  background-color: var(--color-light-blue);
}

.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  background-color: var(--color-light-white);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-blue);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(0px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

/*Event*/
#events {
  /*background: transparent url("imgs/PC-진분홍배경/PC-진분홍배경.png") 0% 0%
    repeat-y no-repeat padding-box;*/
  background-color: var(--color-light-white);

  opacity: 1;
}
.slideblock input[id*="slide"] {
  display: none;
}
.slideblock .slidewrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.slideblock .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.slideblock .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.slideblock .slidelist > li > a {
  display: block;
  position: relative;
  padding: 10px 0;
}
.slideblock .slidelist > li > a img {
  width: 100%;
}
.slideblock .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

/* input에 체크되면 슬라이드 효과 */
.slideblock input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.slideblock input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.slideblock input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

.slideblock input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-300%);
}
.slideblock input[id="slide05"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-400%);
}

.slideblock input[id="slide06"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-500%);
}
.slideblock input[id="slide07"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-600%);
}
.slideblock input[id="slide08"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-700%);
}

.slideblock input[id="slide09"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-800%);
}

.slideblock input[id="slide10"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-900%);
}

.slideblock input[id="slide11"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1000%);
}
.slideblock input[id="slide12"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1100%);
}
.slideblock input[id="slide13"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1200%);
}
.slideblock input[id="slide14"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1300%);
}
.slideblock input[id="slide15"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1400%);
}

.slideblock input[id="slide16"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-1500%);
}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {
  display: none;
}
.slideblock .left {
  left: 5px;
  background: url("./imgs/slide/left.png") center center / 100% no-repeat;
  background-size: 60px 60px;
  opacity: 0.5;
  z-index: 1;
}
.slideblock .right {
  right: 5px;
  background: url("./imgs/slide/right.png") center center / 100% no-repeat;
  background-size: 60px 60px;
  opacity: 0.5;
  z-index: 1;
}
.slideblock
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(1) {
  display: block;
}
.slideblock
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(2) {
  display: block;
}
.slideblock
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(3) {
  display: block;
}
.slideblock
  input[id="slide04"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(4) {
  display: block;
}
.slideblock
  input[id="slide05"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(5) {
  display: block;
}
.slideblock
  input[id="slide06"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(6) {
  display: block;
}
.slideblock
  input[id="slide07"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(7) {
  display: block;
}
.slideblock
  input[id="slide08"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(8) {
  display: block;
}
.slideblock
  input[id="slide09"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(9) {
  display: block;
}
.slideblock
  input[id="slide10"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(10) {
  display: block;
}
.slideblock
  input[id="slide11"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(11) {
  display: block;
}
.slideblock
  input[id="slide12"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(12) {
  display: block;
}
.slideblock
  input[id="slide13"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(13) {
  display: block;
}

.slideblock
  input[id="slide14"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(14) {
  display: block;
}
.slideblock
  input[id="slide15"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(15) {
  display: block;
}

.slideblock
  input[id="slide16"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(16) {
  display: block;
}

/* 페이징 */
.slide-pagelist {
  text-align: center;
  padding: 20px;
}
.slide-pagelist > li {
  display: inline-block;
  vertical-align: middle;
}
.slide-pagelist > li > label {
  display: block;
  padding: 8px 30px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 10px;
  cursor: pointer;
}
.slideblock
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(1)
  > label {
  background: #999;
}
.slideblock
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(2)
  > label {
  background: #999;
}
.slideblock
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(3)
  > label {
  background: #999;
}
.slideblock
  input[id="slide04"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(4)
  > label {
  background: #999;
}
.slideblock
  input[id="slide05"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(5)
  > label {
  background: #999;
}
.slideblock
  input[id="slide06"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(6)
  > label {
  background: #999;
}
.slideblock
  input[id="slide07"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(7)
  > label {
  background: #999;
}
.slideblock
  input[id="slide08"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(8)
  > label {
  background: #999;
}
.slideblock
  input[id="slide09"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(9)
  > label {
  background: #999;
}
.slideblock
  input[id="slide10"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(10)
  > label {
  background: #999;
}
.slideblock
  input[id="slide11"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(11)
  > label {
  background: #999;
}
.slideblock
  input[id="slide12"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(12)
  > label {
  background: #999;
}
.slideblock
  input[id="slide13"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(13)
  > label {
  background: #999;
}
.slideblock
  input[id="slide14"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(14)
  > label {
  background: #999;
}

.slideblock
  input[id="slide15"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(15)
  > label {
  background: #999;
}

.slideblock
  input[id="slide16"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(15)
  > label {
  background: #999;
}

/*Testimonial*/
#testimonials {
  background-color: var(--color-light-white);
}
.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimonial__avater {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__speech-bubble {
  padding: 4% 0;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  margin: 0 auto;
  width: 100%;
}

.testimonial__avater:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avater:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}
.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/*Contact*/

#contact {
  background-color: var(--color-pink);
}

.contact__email,
.contact__title,
.contact__rights {
  color: var(--color-white);
}
.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

/*Scroll arrow up*/
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-light-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  display: none;
  opacity: 0;
  transition: all 300ms ease-in;
}
/*Scroll arrow up*/
.arrow-up:hover {
  color: var(--color-white);
  background-color: var(--color-dark-pink);
}

.arrow-up.visible {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }
  .about__jobs {
    flex-direction: column;
  }
  .job {
    text-align: left;
    margin-bottom: 18px;
    justify-content: center;
  }

  .skillset {
    flex-direction: column;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avater {
    width: 120px;
    height: 120px;
    margin-left: 0px;
    margin-left: 0px;
  }

  .testimonial__avater:nth-child(even),
  .testimonial__avater:nth-child(odd) {
    margin-bottom: 10px;
  }
  .testimonial__avater:nth-child(odd) {
    margin-right: 0px;
  }

  .testimonial__avater:nth-child(even) {
    margin-left: 0px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
